.films-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.show-more-wrapper{
    padding: 30px 0;
    position: absolute;
    left: 40%;
}

.not-found {
    color: #20B2AA;
}