.favorite-button {
    background-color: #323537;
    width: 49%;
    padding: 10px 0;
    border: none;
}

.favorite-button:first-child {
    border-radius: 10px 0 0 10px;
    border-right: 1px solid black;
}

.favorite-button:last-child {
    border-radius: 0 10px 10px 0;
}

.favorite-button:focus {
    border: 1px solid #20B2AA;
}

.popup {
    color: #20B2AA;
    padding: 10px;
    text-align: center;
}