.user-wrapper {
    display: flex;
    height: 50px;
    color: white;

    @media (max-width: 1200px) {
        display: none;
    }
}

.user-wrapper svg {
    margin: auto 0;
}

.user-initials {
    width: 40px;
    height: 40px;
    background-color: #20B2AA;
    color: white;
    margin: auto 10px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}

.user-name {
    margin: auto 0;
    padding-left: 8px;
    font-size: 16px;
    color: white;
}

.user-name:hover {
    color: #20B2AA;
}