.title-wrapper {
    position: relative;
    z-index: 3;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: white;

    @media (max-width: 1200px) {
        font-size: 38px;
    }
}

.title-color {
    color: #20B2AA;
}